<div *ngIf='author$ | async ; else notAvailable'>
<h1>AUTEUR : {{(author$| async)?.authorFirstName}} {{(author$ | async)?.authorLastName}}</h1>
<div>Nom : {{(author$ | async)?.authorLastName}}<br>
    Prénom : {{(author$ | async)?.authorFirstName}}<br>
    Auteur des livres : {{(author$ | async)?.books}}     <br>

</div>








</div>


<ng-template #notAvailable><h2>OUPS ! L'auteur n'existe pas</h2></ng-template>

<div class="button">
    <button mat-raised-button (click)="goPreviousPage()">Précedent</button>
    <button mat-raised-button (click)="goNextPage()">Suivant</button>
    <a routerLink='/authors'><button mat-raised-button color="primary">Retour aux Auteurs</button></a>
</div>